[build]
  publish = "."
  command = "echo 'No build required'"

# Habilita URLs limpas (sem .html)
[build.processing]
  skip_processing = false
[build.processing.html]
  pretty_urls = true

[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "no-cache, no-store, must-revalidate"

[build.environment]
  NODE_VERSION = "18"
